<div class="container mx-auto p-4">
  <div class="w-full flex justify-between">
   <h2 class="text-3xl font-bold mb-4">publisher List</h2>
   <button (click)="onNavigateRegister()" type="submit" class="w-[15%] cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
       border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
       active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">Register publisher</button>
  </div>
   <table class="min-w-full bg-white mt-10">
     <thead class="bg-gray-800 text-white">
       <tr>
         <th class="w-1/4 py-2">Id</th>
         <th class="w-1/4 py-2">Name</th>
         <th class="w-1/4 py-2">Address</th>
         <th class="w-1/2 py-2">Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let publisher of publishers" class="text-gray-700">
         <td class="border px-4 py-2">{{ publisher.id }}</td>
         <td class="border px-4 py-2">{{ publisher.name }}</td>
         <td class="border px-4 py-2">{{ publisher.address }}</td>
         <td class="border px-4 py-2 text-center">
           <button (click)="onUpdateClick(publisher.id)" class="bg-blue-500 text-white px-2 py-1 rounded mr-2">Update</button>
           <button (click)="onDeleteClick(publisher.id)" class="bg-red-500 text-white px-2 py-1 rounded">Delete</button>
         </td>
       </tr>
     </tbody>
   </table>
 </div>
